{% extends 'base.html.twig' %}

{% block title %}{{ genre.name }}{% endblock %}

{% block body %}
<div class="detail-wrapper">

    <a href="{{ path('app_genre_index') }}" class="detail-back">Retour aux genres</a>

    <div class="detail-card">
        <div class="detail-card__body">
            <div class="detail-card__header">
                <div>
                    <div class="detail-card__avatar">{{ genre.name|first|upper }}</div>
                    <h1 class="detail-card__title">{{ genre.name }}</h1>
                </div>
            </div>

            <div class="detail-card__actions">
                <a href="{{ path('app_genre_edit', {'id': genre.id}) }}" class="btn btn-secondary">Modifier</a>
                {{ include('genre/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

</div>
{% endblock %}
