{% extends 'base.html.twig' %}


{% block title %}Publications{% endblock %}

{% block body %}
<div class="publications-wrapper">

    <div class="publications-header">
        <h1 class="publications-title">Publications</h1>
        <a href="{{ path('app_publication_new') }}" class="btn btn-primary">+ Nouvelle publication</a>
    </div>

    <div class="publications-grid">

        {% for publication in publications %}
    <a href="{{ path('app_publication_show', {'id': publication.id}) }}">
        <article class="pub-card">

            <div class="pub-card__cover">
                {% if publication.coverUrl %}
                    <img src="{{ publication.coverUrl }}" alt="{{ publication.title }}">
                {% endif %}
                <div class="pub-card__numero">{{ publication.media.name }}</div>
            </div>

            <div class="pub-card__footer">
                <div class="pub-card__info">
                    <span class="pub-card__title">{{ publication.title }}</span>
                    <span class="pub-card__resume">{{ publication.resume }}</span>
                </div>
            </div>

        </article>
        </a>
        {% else %}
        <div class="publications-empty">
            <p>Aucune publication trouvée.</p>
            <a href="{{ path('app_publication_new') }}" class="btn btn-primary">Créer la première</a>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
