{% extends 'base.html.twig' %}

{% block title %}Franchise index{% endblock %}

{% block body %}
    <div class="publications-wrapper">
        {{ include('franchise/_form.html.twig', {'button_label': 'Filter', 'form':filterForm})}}
        <a href="{{ path('app_franchise_index') }}">Réinitialiser</a>

        <div class="publications-header">
            <h1 class="publications-title">Franchises</h1>
            <a href="{{ path('app_franchise_new') }}" class="btn btn-primary">+ Nouvelle franchise</a>
        </div>

        <div class="publications-grid">
            {% for franchise in franchises %}
                <a href="{{ path('app_franchise_show', {'id': franchise.id}) }}">
                <article class="pub-card">

                    <div class="pub-card__cover">
                        {% if franchise.coverUrl %}
                            <img src="{{ franchise.coverUrl }}" alt="{{ franchise.name }}">
                        {% endif %}
                        <div class="pub-card__numero">{{ franchise.genre.name }}</div>
                    </div>

                    <div class="pub-card__footer">
                        <div class="pub-card__info">
                            <span class="pub-card__title">{{ franchise.name }}</span>
                            <span class="pub-card__resume">{{ franchise.description }}</span>
                        </div>
                    </div>

                </article>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
